.home-user-child {
    position: absolute;
    top: 0px;
    left: 0px;
    filter: blur(80px);
    background-color: #023047;
    width: 1440px;
    height: 139px;
}
.chatgpt-image-3-mei-2025-182 {
    position: absolute;
    top: 18px;
    left: 34px;
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.be-fit {
    position: absolute;
    top: 33px;
    left: 134px;
    font-size: 36px;
    display: inline-block;
    width: 247px;
    height: 88px;
}
.space {
    position: absolute;
    top: 82px;
    left: 180px;
    font-size: 20px;
    color: var(--color-orange);
}
.instance-child {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0%;
    right: 0%;
    bottom: 0%;
    left: 0%;
    border-radius: 50%;
    background-color: var(--color-orange);
}
.n {
    position: absolute;
    height: 58%;
    width: 36%;
    top: 16.21%;
    left: 27.89%;
    display: inline-block;
}
.ellipse-parent {
    position: absolute;
    top: 207px;
    left: 64px;
    width: 70px;
    height: 70px;
    font-size: 40px;
}
.nadine {
    position: absolute;
    top: 227px;
    left: 150px;
}
.home-user-item {
    position: absolute;
    top: 300px;
    left: 200px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    background-color: var(--color-white);
    width: 1050px;
    height: 250px;
}
.smart-watch-with-fitness-infog {
    position: absolute;
    top: 325px;
    left: 1017px;
    width: 200px;
    height: 200px;
    object-fit: cover;
}
.tagihan-saat-ini {
    position: absolute;
    top: 330px;
    left: 250px;
    display: inline-block;
    color: var(--color-black);
    width: 200px;
    height: 38px;
}
.home-user-inner {
    position: absolute;
    top: 329px;
    left: 458px;
    width: 30px;
    height: 30px;
}
.rp-99999999 {
    position: absolute;
    top: 413px;
    left: 249px;
    font-size: 64px;
    display: inline-block;
    color: var(--color-black);
    width: 508px;
    height: 113px;
}
.bukan-member {
    position: absolute;
    top: 671px;
    left: calc(50% - 444px);
    font-size: 32px;
    color: var(--color-black);
}
.beranda {
    position: absolute;
    top: 52px;
    left: 836px;
    font-weight: 500;
    display: inline-block;
    width: 100px;
    height: 59px;
}
.pembayaran {
    position: absolute;
    top: 52px;
    left: 982px;
    font-weight: 500;
    cursor: pointer;
}
.latihan {
    position: absolute;
    top: 52px;
    left: 1174px;
    font-weight: 500;
    cursor: pointer;
}
.profil {
    position: absolute;
    top: 52px;
    left: 1308px;
    font-weight: 500;
    cursor: pointer;
}
.home-user {
    width: 100%;
    position: relative;
    background: linear-gradient(179.97deg, #032231, #023047 3.77%, var(--color-white) 57.03%, var(--color-white));
    height: 1024px;
    overflow: hidden;
    text-align: left;
    font-size: var(--font-size-5xl);
    color: var(--color-white);
    font-family: var(--font-inter);
}

